@use "@s/inc" as *;
@use "sass:math";

[class*="__s-container"] {
   container-type: inline-size;

   @if ($maxWidthContainer>0) {
      max-width: toRem($containerWidth);
      margin: 0 auto;
      width: 100%;
   }

   @if ($containerPadding>0) {
      @if ($maxWidthContainer>0) {
         padding: 0 toRem(math.div($containerPadding, 2));
      }

      @else {
         @include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
         @include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
      }
   }
}

.container-no-space {
   padding-left: 0;
   padding-right: 0;
}