<section class="pt-8 lg:pt-32 bg-[url('https://vite-template-docs.frontelf.com/files/1691055810.png')] bg-center bg-cover min-h-screen">
   <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative text-center">

      <h1 class="max-w-2xl mx-auto text-center font-manrope font-bold text-3xl text-gray-900 mb-5 md:text-5xl leading-[50px]">
         Шаблон для розробки статичних сайтів
         <span class="text-indigo-600">VITE & PostHTML</span>
      </h1>

      <p class="max-w-2xl mx-auto text-center text-base font-normal leading-7 text-gray-500 mb-9">
         Комфортна розробка з використанням HTML компонентів, автоматичним підключенням стилів та очищенням CSS при збірці від зайвих стилів.
         Оптимізація зображень, генерація іконкового шрифта та SVG спрайтів, конвертація шрифтів в WOFF2.
      </p>

      <include src="@ui/button/_button.html" locals='{"text": "Документація", "url": "https://vite-template-docs.frontelf.com/"}'></include>

   </div>
</section>